@import "../../../node_modules/bourbon/core/bourbon";

/// --- fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Bebas+Neue&display=swap');


/// --- components
@import "components/table";
@import "components/cardgrid";
@import "components/card";
@import "components/tabs";
@import "components/navbar";

/// --- partials
@import 'partials/var';
@import 'partials/mixins';


/// --- helpers
@import 'helpers/grid';
@import 'helpers/space';
@import 'helpers/table';
@import 'helpers/forms';

/// --- responsive
@import 'responsive/mobile';

/// --- style
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

  &:focus {
    outline: none;
  }
}

body, html {
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;;

  height: 100%;
  font-family: sans-serif;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

.container {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 1100px;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.sm {
    font-size: small;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 1rem;

  span {
    color: $primary;
  }
}

span {
  color: white;
}

.box {
  &__small {
    width: 75%;
    margin: 0 auto;
  }
  &__btn {
    @media (max-width: 767px) {
      width: 100%;
      margin: 0 auto;
    }
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: white;
    transition: background-color .3s;
    width: 200px;

    &:hover {
      background-color: #4FC3A1;
      color: white;
    }

    &:before {
      @include position(absolute, 50% null null 50%);
      content: "";
      display: block;
      width: 0;
      padding-top: 0;
      border-radius: 100%;
      background-color: rgba(236, 240, 241, .3);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &:active:before {
      width: 120%;
      padding-top: 120%;
      transition: width .2s ease-out, padding-top .2s ease-out;
    }
  }

  &__buttons {
    @include flex(flex, center, center);
    margin-bottom: 1rem;

    button, span {
      margin-right: 1rem;
    }
  }

  &__table {
    @media (max-width: 767px) {
      margin: 1rem 0 0 0;
    }

    display: flex;
    box-shadow: 0 35px 50px rgba( 0, 0, 0, 0.2 );
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

p {
  margin-bottom: 1rem;
  color: black;
  font-size: 1rem;

  &.white {
    color: white;
  }
}
